{% extends "layout.html"%}


{%block title%}
    Login
{%endblock%}

{%block contenido%}
    <article>
        <div>
            <div class="titulo">
                <h1>Login</h1>
            <form class="login" action="/iniciar" method="POST">
                <input type="text" name="user" id="user" placeholder="Usuario" class="inputfield"></input>
               <input type="password" name="password" id="password" placeholder="Contraseña" class="inputfield"></input>
               <input type="submit" id="send" class="" value="Iniciar Sesion">
            </form>
            </div>
{%endblock%}
