{% extends "layout.html"%}

{%block title%}
    Asistencia OH
{%endblock%}

{%block links%}
<a href="/classAttendance" class="nav-link">Asistencia Clases</a>
<a href="/registros" class="nav-link">Registros</a>
<a href="/datos" class="nav-link">Datos</a>
{%endblock%}

{%block contenido%}
        <article>
            <div class="asistenciaForm">
                <div class="titulo">
                    <h1>Asistencia Office Hours</h1>
                </div>


                <div class="asistenciaForm">

                    <label for="grupo" class="texto"> Seleccione el grupo</label>
                      <select name="grupo" id="grupo" class="texto">
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>
                      </select>
                      <br><br>
                
                    <label for="Estudiante" name="Estudiante" id="Estudiante" class="texto">Nombre del estudiante</label>
                        <input list="Estudiantes" id="seleccion-estudiantes" class="texto">
                            <datalist id="Estudiantes">
                            {% for estudiante in estudiantes %}
                            <option value="{{ estudiante.student }}" class="texto">
                
                            {% endfor %}
                
                            </datalist>
                      <br>
                
                      <label for="Semana" name="Semana" class="texto" >Semana de OH </label>
                      <select name="Semana" id="Semana" class="texto">
                          {% for i in range(1, 19) %}
                            <option value="{{ i }}" class="texto"> {{ i }} </option>
                          {% endfor %}
                      </select>
                      <br>
                
                      <label for="Dsemana" name="Dsemana"  class="texto">Dia de la semana </label>
                      <select name="Dsemana" id="Dsemana" class="texto">
                            <option value="ma"class="texto"> ma </option>
                            <option value="mi"class="texto"> mi </option>
                            <option value="vi"class="texto"> vi </option>
                            <option value="sab"class="texto"> sab </option>
                      </select>
                      <br>
                
                       <label for="Bloque" name="Bloque" class="texto">Bloque </label>
                      <select name="Bloque" id="Bloque"class="texto">
                            <option value="8-10"> 8-10 </option>
                            <option value="10-12"> 10-12 </option>
                            <option value="12-02"> 12-02 </option>
                            <option value="02-04"> 02-04 </option>
                            <option value="04-06"> 04-06 </option>
                      </select>
                      <br>
                
                      <label for="Cumplimiento" name="Cumplimiento" class="texto">Cumplimiento </label>
                      <select name="Cumplimiento" id="Cumplimiento"class="texto">
                            <option value="0.5"> 0.5 </option>
                            <option value="1"> 1 </option>
                            <option value="1.5"> 1.5 </option>
                            <option value="2"> 2 </option>
                      </select>
                      <br>
                
                      <label for="Comentario" name="Comentario" class="texto">Comentario </label>
                      <input type="text" name="Comentario" id="Comentario"class="texto">
                      <br>
                
                    <button id="btnAgregar" onclick="agregarOH()" class="btnAgregar">
                        agregar
                    </button>
                
                    </div>

                    <div class="lista">
                        <ul id="listaEstudiantes" class="texto">
                          <br> <br> <br><input type="submit" value="Submit" onclick="enviarOH()">
                      </ul>
                      </div>
                      

            </div>
        </article>
<script src="../static/script.js"> </script>
{%endblock%}
